
.big-font {
    font-size: 1.5em;
}

.absolute-center {
    top: 50%;
    left: 50%;
    position: fixed;
}

.width-800 {
    width: 800px;
    margin-left: -400px;
}


.height-50 {
    height: 50px;
    margin-top: -50px;
}

.input-box {
    border: 2px solid black;
    border-left: none;
    font-size: 100%;
    margin-left: 0px;
    width: 600px;
}

.input-box:focus {
    outline: none;
}

.left-border {
    border: 2px solid black;
    padding: /* up */ 1px /* right */ 8px 5px /* left */ 8px;
    border-right: none;
}

.find-button {
    background: #999999; 
    border: 2px solid #999999;
    margin: 0px;
    font-size: 100%;
}

#status {
    display: inline-block;
    margin-left:-50px;
    margin-right:0px;
    width: 50px;
}

#error-warning {
    display: none;
}

#spinner {
    display: inline-block;
}
