@grid_baseline: 18px;
@grid_column: 60px;
@grid_num_modules: 12;
@grid_gutter: 20px;
@grid_module_height: 4;
@grid_layout_width: @grid_num_modules * @grid_column + (@grid_num_modules - 1) * @grid_gutter;
@grid_half_gutter: @grid_gutter / 2;
@grid_half_baseline: @grid_baseline / 2;

@title_font_size: (8 / 6) * @grid_baseline;
@normal_font_size: @grid_baseline;
@small_font_size: (7 / 9) * @grid_baseline;
@footnote_font_size: 2 * @grid_baseline / 3;
@font_awesome_size_fix: @grid_baseline;

@color_blue: #2980b9;
@color_bggray: #ecf0f1;
@color_bgwhite: #ffffff;
@color_bgbluegray: #7f8c8d;
@color_bgbluegray1: #c3c9cc;
@color_bgbluegray2: #949f9f;
@color_bgbluegray3: #34495E;
@color_bgbluegray4: #2C3E50;
@color_white: #ffffff;
@color_gray: @color_bgbluegray;
@color_black: #1b2e42;
@color_green: #2ecc71;
@color_red: #c0392b;
@color_brown: #f39c12;

@main_width: 5 * @grid_gutter + 4 * @grid_column;
@half_main_width: @grid_column + @grid_gutter + @grid_column;
@major_main_width: 3 * @grid_column + 2 * @grid_gutter;
@minor_main_width: @grid_column;
@main_border: 0px;

@icon_size: 88px;
@icon_border: (@icon_height - @icon_size) / 2;
@icon_height: @grid_baseline * 5;
@icon_width: @grid_gutter + @grid_column;
@icon_inner_width: @icon_width - 2 * @icon_border;
@icon_vskip: -@main_border - (@grid_column + @grid_gutter);
@icon_vskip_after: - (@icon_height - @icon_vskip);
@icon_border_color: @color_blue;


@title_min_height: 4 * @grid_baseline; /* including top and bottom half baseline padding */
@title_lrmargin: @grid_gutter;
@title_topmargin: @grid_half_baseline;
@title_bottommargin: @grid_half_baseline;

@ratings_container_top_border: 1px;
@map_border_bottom_width: 1px;

@details_li_icon_space: 10px;
@details_li_icon_width: @normal_font_size;

@info_map_size: 160px;
@options_yes_no_size: 40px;
@lightgray: #cccccc;

@timeline_icon_width: 32px;
@timeline_div0_width: @skip_current + @skip_other + @timeline_icon_width;
@skip_current: 160px;
@skip_other: 110px; /* skip means the distance of the left borders */

.debug {
    outline: 1px solid red;
    outline-offset: -1px;
}

.mock {
    outline: 1px dashed blue;
}

.gray-small {
    font-size: 80%;
    color: gray;
}

.circle {
    /* http://davidwalsh.name/css-circles */
    border-radius: 50%;
}

#old-container {
    display: none;
}


@import "main-style.less";
@import "main-position.less";

/* TOGGLE */
.no-info-map #toggle-info-map > i,
.no-info-map #info-map {
    display: none;
}

.no-details-buttons #details-buttons {
    display: none;
}
.no-details-buttons #extra-toggle-button-up {
    display: none;
}
#extra-toggle-button-down {
    display: none;
}
.no-details-buttons #extra-toggle-button-down {
    display: block;
}

.no-confirmed #review,
.no-confirmed #confirmed-footnote,
.no-confirmed #footer-container,
.no-confirmed .confirmed-only {
    display: none;
}

.yes-confirmed #footnote,
.yes-confirmed #options,
.yes-confirmed .no-confirmed-only {
    display: none;
}

#old-container, #root-others {
    float: left;
}

.old #old-container {
    display: block;
}

.old #root-container,
.old #footer-container {
    display: none;
}

.loading-placeholder {
    display: none;
}

.refreshing .loading-placeholder {
    display: block;
}

.no-map #map {
    display: none;
}

.api-loading #api-loading-text:after {
    content: "(API loading...)";
}

/*
.refreshing #info-map,
.refreshing #extra-container {
    display: none;
}
*/

#title-source {
    display: none;
}

.debugging #title-source {
    display: inline;
}

.loading #options,
.loading #title-text,
.loading #extra-options {
    display: none;
}

.loading #title-loading:after {
    content: "(Loading ...)";
}

/* MOCKING */
#ratings,
#costs-container,
#footnote,
#askfriends {
    /* .mock; */
}

