/* **************** STYLING ************** */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

.normal {
    font-family: "PT Sans", Tahoma, Arial, Helvetica, sans-serif;
}

.narrow {
    font-family: "PT Sans Narrow", "Helvetica Narrow", "Arial Narrow", "Heiti";
}

.disabled { display: none; }
/* TODO: as disabled is display:none now, remove the other unnecessary disabled styles */
.enabled:hover { cursor: pointer; }
.disabled:hover { cursor: default; }

.clickable (@color, @bgcolor, @hover_color, @hover_bgcolor, @disabled_color) {
    &.enabled {
	color: @color;
	background-color: @bgcolor;
    }
    &.enabled:hover {
	color: @hover_color;
	background-color: @hover_bgcolor;
    }
    &.disabled {
	color: @disabled_color;
	background-color: @bgcolor;
    }
    &.disabled:hover {
	color: @disabled_color;
	background-color: @bgcolor;
    }
}
.clickable_border_top_down_color(@bordercolor, @hover_color) {
    &.enabled:hover {
	border-top-color: @hover_color;
	border-bottom-color: @hover_color;
    }
    &.disabled:hover {
	border-top-color: @bordercolor;
	border-bottom-color: @bordercolor;
    }
}
body {
    background: @color_about_bg;
    font-size: @normal_font_size;
    .normal;
    line-height: @grid_baseline;
}

#above-container {
    background: @color_bggray;
}

#main-icon {
    border-style: solid;
    border-color: @color_blue_light;
    background: @color_blue_light;
    color: @color_fgwhite;

    background-image: url(https://foursquare.com/img/categories_v2/food/default_88.png);
    background-position-x: (@icon_inner_width - @icon_size) / 2;
}

#main-container {
    border-style: solid;
    border-color: black;
}

#title-container, #info-map, #details-buttons, #details, #buttons {
    background: @color_main_bg;
}

#title-container {
    .narrow;
    color: @color_title_fg;
}

#info-map {
}

.no-confirmed #info-map {
}

#info {
    color: @color_info_fg;
}

#info {
    border-top-style: solid;
    border-top-color: @color_border_gray;
}

#ratings {
    color: @color_blue;
}

#info-map {
    border-bottom-style: solid;
    border-bottom-color: @color_border_gray;
}

#footnote {
    .footnotes_style;
}

#extra-container {
    background: @color_bggray;
    color: @color_info_fg;
}

#details-buttons {
    border-right-color: @color_blue;
    border-right-style: solid;
    border-bottom-style: solid;
    border-bottom-color: @color_border_gray;
}

#details {
    background: @color_main_bg;
    // .narrow;
}

#details-town {
    font-size: @small_font_size;
}

#buttons {
    background: @color_main_bg;
}

#buttons-last {
    border-bottom-width: 0px; /* details-buttons has the border */
}

[id^="buttons-"] {
    color: @color_blue;
    border-bottom-style: solid;
    border-bottom-color: @color_border_gray;

    .clickable(@color_blue, @color_main_bg, @color_blue_light, @color_main_bg, inherit);
}

[id^="buttons-"].clicked {
    color: @color_main_bg;
    background: @color_blue;
}

#extra-toggle {
    text-align: center;

    .clickable(@color_border_gray, @color_bggray, @color_fgwhite, @color_border_gray, inherit);
}

.footnotes_style {
    text-align: left;
    background: @color_footnote_bg;
    color: @color_footnote_fg;
}

#confirmed-footnote {
    .footnotes_style;
}

#magic-tag, #selected-tag {
    font-weight: bold;
    .narrow;
}
#magic-tag {
    color: @color_fgwhite;
    background: @color_blue_light;
}
#selected-tag {
    color: @color_fgwhite;
    background: @color_green_light;
}

#big-left-button, #big-right-button {
    .clickable(@color_silver, @color_bggray, @color_blue_light, @color_bggray, @color_silver);
}

#options {
    background: @color_options_bg;
    color: @color_fgwhite; /* use the page background */
}

#options-captions {
    font-weight: bold;
}

#no-confirmed-info-question {
    overflow: hidden;
    white-space: nowrap;
    font-size: @small_font_size;
}

#no-confirmed-info-date {
    font-weight: normal;
    font-size: @footnote_font_size;
}

#options-yes, #options-no {
    .circle;
    border-style: solid;
    border-color: @color_bggray;

}

#options-yes {
    .clickable(inherit, @color_green_light, inherit, @color_green, inherit);
}

#options-no {
    .clickable(inherit, @color_no_button_bg, inherit, @color_red_light, inherit);
}

#typehere-container {
    background: @color_typehere_outer_bg;
    border-top-style: solid;
    border-top-color: @color_fgwhite;
}

#typehere-text {
    color: @color_fgwhite;
}

#typehere {
    color: @color_typehere_inner_fg;
    background: @color_typehere_inner_bg;
    .normal;
}

#typehere-search {
    /* TODO: clickable */
    .clickable(@color_fgwhite, @color_green, @color_fgwhite, @color_green_light, @color_fgwhite);
    &.disabled { display: block; background-color: @color_silver; }
    &.disabled:hover { display: block; background-color: @color_silver; }
}

#delete-this-meal {
    .clickable(@color_fgwhite, @color_red, @color_fgwhite, @color_red_light, @color_fgwhite);
}

#confirmed-info {
    background: @color_confirmed_bg;
    color: @color_fgwhite;
}

#confirmed-info-name {
    font-weight: bold;
}

#review-reselect {
    .clickable(@color_fgwhite, @color_brown, @color_fgwhite, @color_brown_light, @color_fgwhite);
}
#review-thumbs-up {
    .clickable(@color_fgwhite, @color_gray_button_bg, @color_fgwhite, @color_green_light, @color_fgwhite);
    .clickable_border_top_down_color(@color_gray_button_bg, @color_green_light);
}
#review-thumbs-down {
    .clickable(@color_fgwhite, @color_gray_button_bg, @color_fgwhite, @color_brown, @color_fgwhite);
    .clickable_border_top_down_color(@color_gray_button_bg, @color_brown);
}
#review-delete-meal {
    .clickable(@color_fgwhite, @color_red, @color_fgwhite, @color_red_light, @color_fgwhite);
}

#review-thumbs-up, #review-thumbs-down {
    border-top-style: solid;
    border-top-color: @color_gray_button_bg;
    border-bottom-style: solid;
    border-bottom-color: @color_gray_button_bg;
}

#review-thumbs-up {
    border-right-style: solid;
    border-right-color: @color_fgwhite;
}

#review-thumbs-down {
    border-left-style: solid;
    border-left-color: @color_fgwhite;
}

#cancel-button {
    outline: 2px solid black;
}


#timeline-container {
    background-image: url(bg.png);
    background-color: @color_timeline_bg;
    background-repeat: repeat-x;
}

.timeline-button {
    .clickable(@color_bggray, @color_timeline_button_bg, @color_fgwhite, @color_blue, @color_bggray);
}

#timeline-title {
    color: @color_fgwhite;
}

#timeline-title-text {
    font-weight: bold;
}

#about {
    background: @color_about_bg;
}

#logo {
    font-weight: bolder;
}
#logo-lunch {
    color: @color_fgwhite;
}
#logo-here {
    color: @color_logo_here_fg;
}
