/* **************** STYLING ************** */
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

.normal {
    font-family: "PT Sans", Tahoma, Arial, Helvetica, sans-serif;
}

.narrow {
    font-family: "PT Sans Narrow", "Helvetica Narrow", "Arial Narrow", "Heiti";
}

.clickable (@color, @bgcolor, @hover_color, @hover_bgcolor, @disabled_color) {
    &.enabled {
	color: @color;
	background-color: @bgcolor;
    }
    &.enabled:hover {
	color: @hover_color;
	background-color: @hover_bgcolor;
	@hover_bgcolor; cursor: pointer;
    }
    &.disabled {
	color: @disabled_color;
	background-color: @bgcolor;
    }
    &.disabled:hover {
	color: @disabled_color;
	background-color: @bgcolor;
	cursor: default;
    }
}

body {
    background: @color_bggray;
    font-size: @normal_font_size;
    .normal;
    line-height: @grid_baseline;
}

#main-icon {
    border-style: solid;
    border-color: @icon_border_color;
    background: @color_blue;
    color: white;

    background-image: url(https://foursquare.com/img/categories_v2/food/default_88.png);
    background-position-x: (@icon_inner_width - @icon_size) / 2;
}

#main-container {
    border-style: solid;
    border-color: black;
}

#title-container, #info-map, #details-buttons, #details, #buttons {
    background: @color_bgwhite;
}

#title-container {
    .narrow;
    color: @color_black;
}

#info-map {
}

.no-confirmed #info-map {
}

#info {
    color: @color_gray;
}

#ratings-container {
    border-top-style: solid;
    border-top-color: @color_bgbluegray2;
}

#ratings {
    color: @color_blue;
}

#external-link > a[href="#"] {
    display: none;
}

#info-map {
    border-bottom-style: solid;
    border-bottom-color: @color_bgbluegray2;
}

#footnote {
    .footnotes_style;
}

#options {
    background: @color_bgbluegray;
}

#options-captions {
}

#options-captions > i {
}

#options-captions > #askfriends {
    margin-left: 17px;
}

#extra-container {
    background: @color_bggray;
    color: @color_gray;
}

#details-buttons {
    border-right-color: @color_blue;
    border-right-style: solid;
    border-bottom-style: solid;
    border-bottom-color: @color_bgbluegray2;
}

#details {
    background: @color_bgwhite;
    .narrow;
}

#details-town {
    font-size: @small_font_size;
}

#buttons {
    background: @color_bgwhite;
}

[id^="buttons-"].disabled {
    color: inherit;
}

#buttons-last {
    border-bottom-width: 0px; /* details-buttons has the border */
}

[id^="buttons-"] {
    color: @color_blue;
    border-bottom-style: solid;
    border-bottom-color: @color_bgbluegray2;

    .clickable(@color_blue, @color_bgwhite, @color_green, @color_bgwhite, inherit);
}

[id^="buttons-"].clicked {
    color: @color_bgwhite;
    background: @color_blue;
}

#extra-toggle {
    text-align: center;

    .clickable(@color_blue, @color_bggray, @color_green, @color_bgbluegray, inherit);
}

.footnotes_style {
    text-align: left;
    background: @color_bgwhite;
    color: @color_gray;
}

#confirmed-footnote {
    .footnotes_style;
}

#magic-tag, #selected-tag {
    font-weight: bold;
    .narrow;
}
#magic-tag {
    .clickable(@color_white, @color_blue, @color_blue, @color_white, @color_white);
}
#selected-tag {
    .clickable(@color_white, @color_green, @color_green, @color_white, @color_white);
}

#cancel-button {
    outline: 2px solid black;
}

#review-info {
    border-right-style: dashed;
    border-right-color: gray;
    text-align: right;
}

#options {
    background: @color_bgbluegray;
    color: @color_bgwhite;
}

#options-yes, #options-no {
    .circle;
    border-style: solid;
    border-color: @color_bggray;

}

#options-yes {
    .clickable(inherit, @color_bgbluegray2, inherit, @color_green, inherit);
}

#options-no {
    .clickable(inherit, @color_bgbluegray2, inherit, @color_red, inherit);
}

#typehere-container {
    background: @color_bgbluegray;
    border-top-style: solid;
    border-top-color: white;
}

#typehere-text {
    color: white;
}

#typehere {
    color: @color_gray;
    background: @color_bggray;
    .normal;
}

#typehere-search {
    color: white;
    background: @color_green;
}

#delete-this-meal {
    .clickable(@color_white, @color_red, @color_white, @color_bgbluegray2, @color_white);
}
