/* **************** POSITIONING ************** */

.up_down_padding_half {
    padding-top: @grid_half_baseline;
    padding-bottom: @grid_half_baseline;
}

/* font-awesome-fix */
[class^="icon-"], [class*=" icon-"] {
    line-height: inherit;
}

/* For modern browsers */
.container:before,
.container:after {
    content:"";
    display:table;
}
.container:after {
    clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.container {
    zoom:1;
}

.base_float {
    float: left;
    clear: left;
}

.tight_float {
    .base_float;

    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.float {
    .base_float;

    margin-left: @grid_half_gutter;
    margin-right: @grid_half_gutter;
    margin-top: @grid_half_baseline;
    margin-bottom: @grid_half_baseline;
}

body {
    margin: 0px;
}


#root-container {
    margin: auto;
    width: @icon_width + @main_width + @icon_width;
    margin-top: 90px;
}

#root-others {
    display: none;
}

#main-icon {
    .tight_float;

    border-width: @icon_border;
    width: @icon_inner_width;
    height: @icon_height - 2 * @icon_border;

    padding: 0px;
}

#main-icon .loading-placeholder {
    width: 0px; /* set to half of the width */
    height: 0px;
    margin-left: @icon_inner_width / 2;
    margin-top: @icon_height / 2 - @icon_border;
    float: left;
}

@media (min-width: 420px) {
    #main-container {
	margin-right: @icon_width;
    }
}
@media (max-width: 420px) {
    #main-container {
	margin-right: 0px;
    }
}

#main-container {
    .tight_float;
    clear: none;
    border-width: @main_border;
}

#title-container {
    .tight_float;
    clear: left;

    font-size: @title_font_size;
    line-height: 2 * @grid_baseline;
    padding-left: @title_lrmargin;
    padding-right: @title_lrmargin;
    padding-top: @title_topmargin;
    padding-bottom: @title_bottommargin;

    width: @main_width - 2 * @title_lrmargin;
    min-height: @title_min_height;
}

#info-map {
    .tight_float;
    clear: left;
}

#info {
    .tight_float;
    margin-left: @grid_half_gutter;
    margin-right: @grid_half_gutter;
}

#ratings-container {
    .float;
    width: @main_width - @grid_gutter * 2;
    margin-top: 0px;
    padding-top: @grid_baseline - @ratings_container_top_border;
    border-top-width: @ratings_container_top_border;
    margin-bottom: @grid_baseline;
}

#ratings {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#title-addr {
    .narrow;
}

#title-addr, #costs-container, #distance-container {
    .float;
    width: @main_width - @grid_gutter * 2;
}

#distance-container {
    clear: none;
    margin-bottom: @grid_baseline;
}

#costs-container, #distance-container {
    width: @half_main_width;
}

#costs, #distance {
    font-size: @small_font_size;
    line-height: 0px; /* clear the line-height so that the icon dominates the line-height */
}

#map {
    .tight_float;
    width: @main_width;
    height: 8 * @grid_baseline - @map_border_bottom_width;
    background-image: url(map.png);
    background-position-x: -210px;
    background-position-y: -110px;
}

#info-map {
    border-bottom-width: @map_border_bottom_width;
}

#options {
    .tight_float;
    width: @grid_column * 4 + @grid_gutter * 5 - @grid_half_gutter * 2;
    padding-left: @grid_half_gutter;
    padding-right: @grid_half_gutter;
    height: 4 * @grid_baseline;
}

#options-captions {
    padding-top: @grid_baseline;
    padding-bottom: @grid_baseline;
    line-height: @grid_baseline * 2;
    width: @grid_column + @grid_gutter + @grid_column + @grid_half_gutter;
}
#options-captions, #options-yes-container, #options-no-container {
    float: left;
}


#options-yes-container, #options-no-container {
    width: @grid_column;
    height: 4 * @grid_baseline;
    margin-left: @grid_gutter;
}

@options_circle_border: 4px;
#options-yes, #options-no {
    width: @grid_column - @options_circle_border;
    height: @grid_column - @options_circle_border;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: (4 * @grid_baseline - @grid_column) /2 ;
    border-width: @options_circle_border;
}

#options-yes > i, #options-no > i {
    font-size: 5 / 3 * @grid_baseline;
    line-height: @grid_column;
    vertical-align: top;
}

#extra-options {
    .float;
}

@autocomplete_max_height: 400px;
#typehere-autocomplete-container {
    width: 0px;
    height: 0px;
    margin-top: -0px;
}

#typehere {
    padding: 0px;
    border: 0px;
    border-bottom: 1px solid black;
}


#extra-container {
    .tight_float;
    padding-left: @grid_half_gutter;
    padding-right: @grid_half_gutter;
}

@buttons_right_border_size: 3px;
@details_buttons_bottom_border_width: 1px;
#details-buttons {
    .tight_float;
    border-bottom-width: @details_buttons_bottom_border_width;
    border-right-width: @buttons_right_border_size;
}

#details {
    .tight_float;

    width: @major_main_width + @grid_half_gutter - @details_li_icon_space;
    padding-left: @details_li_icon_space;
    padding-right: @grid_half_gutter;

    line-height: @grid_baseline;
    padding-top: @grid_half_baseline;
    padding-bottom: @grid_half_baseline - @details_buttons_bottom_border_width;
}

#details ul {
    margin: 0px;
    padding-left: @details_li_icon_space + @details_li_icon_width;
}

#details li {
    margin: 0px;
    padding-top: @grid_half_baseline;
    padding-bottom: @grid_half_baseline;
    list-style-type: none;
}

.details-logo {
    margin-left: -@details_li_icon_space - @details_li_icon_width;
    margin-right: @details_li_icon_space;
    width: @details_li_icon_width;
    display: inline-block;
    text-align: center;
}


#details-addr-li {
    
}

#details-addr {
    display: inline;
}

#details-town {
    display: block;
}

#buttons {
    .tight_float;
    clear: none;

    font-size: 4 / 3 * @grid_baseline;
}

[id^="buttons-"] {
    padding-left: @grid_half_gutter;
    padding-right: @grid_half_gutter - @buttons_right_border_size;
    text-align: center;
    vertical-align: middle;
    line-height: @grid_baseline * 2;
    width: @minor_main_width;
    border-bottom-width: 1px;
    height: @grid_baseline * 2 - 1;
}

#extra-toggle {
    .tight_float;

    width: @main_width - @grid_gutter;
    height: @grid_baseline;
}

.footnotes_position {
    width: @main_width - @grid_gutter;
    font-size: @footnote_font_size;
    line-height: 2 * @grid_baseline;
}
#footnote {
    .tight_float;
    .footnotes_position;
}

#confirmed-footnote {
    .tight_float;
    .footnotes_position;
}

#review {
    .tight_float;
    margin-top: 12px;
    height: 50px;
}

#review-info, #review-edit, #review-fav {
    float: left;
    height: 50px;
}

#review-info {
    width: 50%;
    padding-right: 10px;
    border-right-width: 1px;
}

#review-edit {
    width: 24%;
    margin-left: 10px;
}

#review-fav {
    margin-left: 10px;
}

#footer-container {
    .float;
    margin-top: 20px;
    float: clear;
    margin-bottom: 20px;
}

#timeline {
    display: block;
    margin-left: 50%;
    margin-bottom: -14px;
}

#timeline-border0 {
}

#timeline-border-left {
    float: left;
    clear: left;
    width: 50%;
    border-top: 5px solid @lightgray;
}

#timeline-border-right {
    float: left;
    clear: none;
    width: @timeline_div0_width;
    border-top: 5px solid @lightgray;
}

#timeline-ul {
    width: @timeline_div0_width
}

#timeline-border {
}

.timeline-div {
    display: inline-block;
    width: @timeline_icon_width;
}

#timeline-div0 {
    display: inline-block;
    width: @timeline_div0_width;
    margin-right: -@timeline_div0_width - @skip_current;
}

.timeline-div.current {
    margin-right: @skip_current - @timeline_icon_width;
}

.timeline-div.before {
    margin-right: -@skip_other - @timeline_icon_width;
}

.timeline-div.after {
    margin-right: @skip_other - @timeline_icon_width;
}

.timeline-div.plus {
    margin-right: -@timeline_icon_width;
}

#about {
    margin-top: 20px;
    height: 40px;
}
#about-timeline {
    float: left;
}

#about-sharing {
    margin-left: 40px;
    float: left;
}

#about-lunchere-container  {
    float: right;
    margin-right: 40px;
}

#about-lunchere  {
    
}

#power {
    border-top: 2px dashed gray;
    text-align: right;
    margin-right: 40px;
}


