@grid_baseline: 18px;
@grid_column: 60px;
@grid_num_modules: 12;
@grid_gutter: 20px;
@grid_module_height: 4;
@grid_layout_width: @grid_num_modules * @grid_column + (@grid_num_modules - 1) * @grid_gutter;
@grid_half_gutter: @grid_gutter / 2;
@grid_half_baseline: @grid_baseline / 2;

@title_font_size: (8 / 6) * @grid_baseline;
@normal_font_size: @grid_baseline;
@small_font_size: (7 / 9) * @grid_baseline;
@footnote_font_size: 2 * @grid_baseline / 3;
@font_awesome_size_fix: @grid_baseline;


/* the color scheme: http://designmodo.github.io/Flat-UI/ */
@color_turquoise: #1abc9c;
@color_green_sea: #16a085;
@color_emerald: #2ecc71;
@color_nephritis: #27ae60;
@color_peter_river: #3498db;
@color_belize_hole: #2980b9;
@color_amethyst: #9b59b6;
@color_wisteria: #8e44ad;
@color_wet_asphalt: #34495e;
@color_midnight_blue: #2c3e50;
@color_sun_flower: #f1c40f;
@color_orange: #f39c12;
@color_carrot: #e67e22;
@color_pumpkin: #d35400;
@color_alizarin: #e74c3c;
@color_pomegranate: #c0392b;
@color_clouds: #ecf0f1;
@color_silver: #bdc3c7;
@color_concrete: #95a5a6;
@color_asbestos: #7f8c8d;

@color_blue: @color_belize_hole;
@color_blue_light: @color_peter_river;
@color_green: @color_nephritis;
@color_green_light: @color_emerald;
@color_red: @color_pomegranate;
@color_red_light: @color_alizarin;
@color_brown: @color_orange;
@color_brown_light: @color_sun_flower;

@color_gray_f: @color_white;
@color_gray_e: @color_clouds;
@color_gray_b: @color_silver;
@color_gray_9: @color_concrete;
@color_gray_7: @color_asbestos;
@color_gray_3: @color_wet_asphalt;
@color_gray_2: @color_midnight_blue;
@color_gray_0: @color_black;

@color_white: #ffffff;
@color_black: #000000;

@color_bgwhite: @color_white;
@color_bggray: @color_clouds;
@color_fgwhite: @color_white;
@color_border_gray: @color_silver;

/* white bg */
@color_main_bg: @color_white;
@color_footnote_bg: @color_white; /* when bg, use color_bggray */

@color_title_fg: @color_midnight_blue;
@color_info_fg: @color_asbestos;
@color_footnote_fg: @color_asbestos;

/* clouds bg */
@color_page_bg: @color_bggray;
@color_typehere_inner_bg: @color_bggray;
@color_typehere_inner_fg: @color_asbestos;
@color_timeline_label_fg: @color_wet_asphalt;
/* and also toggle bg */

/* silver bg: none */

/* when bg is darker than concret, use white as fg, only the here/silver is bad */
/* concret bg:  */
@color_no_button_bg: @color_concrete;
@color_typehere_outer_bg: @color_concrete;

/* asbestos bg: */
@color_timeline_bg: @color_asbestos;

/* wet asphalt bg: */
@color_timeline_button_bg: @color_wet_asphalt;
@color_gray_button_bg: @color_wet_asphalt;
@color_options_bg: @color_wet_asphalt; /* lunch here today? 's background */

/* midnight blue bg: */
@color_confirmed_bg: @color_midnight_blue;
@color_about_bg: @color_midnight_blue;
@color_logo_here_fg: @color_silver;

@main_width: 5 * @grid_gutter + 4 * @grid_column;
@half_main_width: @grid_column + @grid_gutter + @grid_column;
@major_main_width: 3 * @grid_column + 2 * @grid_gutter;
@minor_main_width: @grid_column;
@main_border: 0px;

@icon_size: 88px;
@icon_border: (@icon_height - @icon_size) / 2;
@icon_height: @grid_baseline * 5;
@icon_width: @grid_gutter + @grid_column;
@icon_inner_width: @icon_width - 2 * @icon_border;
@icon_vskip: -@main_border - (@grid_column + @grid_gutter);
@icon_vskip_after: - (@icon_height - @icon_vskip);


@title_min_height: 4 * @grid_baseline; /* including top and bottom half baseline padding */
@title_lrmargin: @grid_gutter;
@title_topmargin: @grid_half_baseline;
@title_bottommargin: @grid_half_baseline;

@ratings_container_top_border: 1px;
@map_border_bottom_width: 1px;

@details_li_icon_space: 10px;
@details_li_icon_width: @normal_font_size;

@info_map_size: 160px;
@options_yes_no_size: 40px;
@lightgray: #cccccc;

@timeline_icon_width: 32px;
@timeline_div0_width: @skip_current + @skip_other + @timeline_icon_width;
@skip_current: 160px;
@skip_other: 110px; /* skip means the distance of the left borders */

.debug {
    outline: 1px solid red;
    outline-offset: -1px;
}

.mock {
    outline: 1px dashed blue;
}

.gray-small {
    font-size: 80%;
    color: gray;
}

.circle {
    /* http://davidwalsh.name/css-circles */
    border-radius: 50%;
}

#old-container {
    display: none;
}


@import "main-style.less";
@import "main-position.less";

/* TOGGLE */
.no-info-map #toggle-info-map > i,
.no-info-map #info,
.no-info-map #map {
    display: none;
}

.no-details-buttons #details-buttons {
    display: none;
}
.no-details-buttons #extra-toggle-button-up {
    display: none;
}
#extra-toggle-button-down {
    display: none;
}
.no-details-buttons #extra-toggle-button-down {
    display: block;
}

.no-confirmed #review,
.no-confirmed #confirmed-footnote,
/* .no-confirmed #footer-container, */
.no-confirmed #confirmed-info,
.no-confirmed #review-options,
.no-confirmed .confirmed-only {
    display: none;
}

.yes-confirmed #footnote,
.yes-confirmed #options,
.yes-confirmed #extra-options,
.yes-confirmed .no-confirmed-only {
    display: none;
}

#old-container, #root-others {
    float: left;
}

.old #old-container {
    display: block;
}

.old #root-container,
.old #footer-container {
    display: none;
}

.loading-placeholder {
    display: none;
}

.initialize #confirmed-info,
.initialize #review-options,
.initialize #info,
.initialize #map,
.initialize #footnote,
.initialize #confirmed-footnote,
.initialize #extra-container,
.initialize #timeline-button-left,
.initialize #timeline-button-right {
    display: none
}

.no-foursquare.no-refreshing #info,
.no-foursquare.no-refreshing #map,
.no-foursquare.no-refreshing #extra-container {
    display: none;
}

.refreshing .loading-placeholder {
    display: block;
}

.refreshing #confirmed-info,
.refreshing #info,
.refreshing #map,
.refreshing #extra-container,
.refreshing #review-options,
.refreshing #footer-container {
    // display: none;
}

.no-map #map {
    display: none;
}

.api-loading #api-loading-text:after {
    content: "(API loading...)";
}

#title-source {
    display: none;
}

#title-source:before {
    content: " (";
}

#title-source:after {
    content: ")";
}

.debugging #title-source {
    display: inline;
}

.loading #options,
.loading #title-text,
.loading #extra-options {
    display: none;
}

.loading #title-loading:after {
    content: "(Loading ...)";
}

/* MOCKING */
#ratings,
#costs-container,
#footnote,
#askfriends {
    /* .mock; */
}


/* foursquare */

.f4sq-no-ratings.f4sq-no-addr.f4sq-no-price.f4sq-no-distance #info {
    display: none;
}

/* ?? less bug? when use tab instead of space the space in between is removed !! */
.f4sq-no-ratings #ratings-container,
.f4sq-no-addr #title-addr,
.f4sq-no-details-addr #details-addr-li,
.f4sq-no-contact #details-phonenumber-li,
.f4sq-no-hours #details-hours-li {
    display: none;
}

.f4sq-no-price #costs-container,
.f4sq-no-distance #distance-container {
    opacity: 0;
}

.f4sq-no-price.f4sq-no-distance #costs-container,
.f4sq-no-price.f4sq-no-distance #distance-container {
    display: none;
}

.f4sq-no-distance #distance-container:after {
    content: "nearby";
}

.lighten {
    color: @color_silver;
}
