<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/core.css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="/js/private.js"></script>
<script src="/js/foursquare.js"></script>
<script src="/js/modules/spin.min.js"></script>
<script src="/js/landing.js"></script>
</head>
<body>
<div id="page-container">
    Tell us where you are:<br/>
    <div id="location-container">
	<input id="location"/><div id="arrow-overlay">
	    <a id="arrow" class="icon-location-arrow" href="#"></a>
	</div><div id="status-overlay"><!--
	 --><i id="error-warning" class="icon-warning-sign"></i><!--
	 --><div id="spinner"></div><!--
	 --><span id="spinner-alternative"><i class="icon-spinner"></i></span>
	</div><button id="find" class="disabled" disabled>find lunch</button>
    </div>
    <div id="debug-layer">
    </div>
</div>
</body>
</html>
