<!DOCTYPE html>
<html>
<head>
<title>Lunch from Here</title>
<!-- Python Endpoints: https://developers.google.com/appengine/docs/python/endpoints/ -->
<!-- API Explorer: https://developers.google.com/apis-explorer/ -->
<script>
function initClientIdHistoryId() {
    return {
        "CLIENT_ID": "{{CLIENT_ID}}",
        "historyId": "{{HISTORY_ID}}",
        "API_VERSION": "{{API_VERSION}}"
    };
}
</script>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/css/main.css" />
<script src="/js/core.js"></script>
<script src="/js/private.js"></script>
<script src="/js/foursquare.js"></script>
<script src="/js/modules/spin.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://apis.google.com/js/client.js?onload=gapi_ready"></script>
<!-- script src="/js/client.js?onload=lunchere_api_init"></script -->
</head>
<body class="no-confirmed loading refreshing">

<div id="old-container">
    <a href="#new">Try new version</a>
    <button id="logout">Log out</button>
    <p>History ID: <span id="historyId">undefined</span></p>
    <p>Timeslot: <button id="deletemeal">Del meal</button><button id="prevmeal">Prev</button> <span id="timeslot">undefined</span> <button id="nextmeal">Next</button><button id="createmeal">Create meal</button></p>
    <p>Today we go to: <span id="today">loading ...</span><span id="confirmed"></span>
    <button id="yes">OK</button>
    <button id="no">Em... maybe another one</button></p>
    <p>Tell the system where you go: <input id="newplace"></input><input id="addr" disabled></input><button id="go">Go</button></p>
</div>


<div id="root-container" class="container">
<div id="root-others">
    <a href="#old">Go back old version</a>
    <button id="toggle-info-map"><i class="icon-caret-down"></i></button>
    <button id="cancel-button"><i class="icon-ok"></i></button>
    <div id="external-link"><a target="_blank" class="icon-external-link" href="#"></a></div>
    <div id="api-loading-text"></div>
</div>
<div id="main-icon" ><div class="loading-placeholder"></div></div><!-- what icon to show ? -->
<div id="main-container">
    <div id="title-container">
	<span id="title-text">
	    Tak Kee Chiu Chow<br/>
	    德记海鲜酒家
	</span>
	<span id="title-source"></span>
	<span id="title-loading"></span>
    </div>

    <div id="info-map">
	<div id="info">
	    <div id="ratings-container">
		<div id="ratings">
		    <i id="heart-1" class="icon-star"></i>
		    <i id="heart-2" class="icon-star"></i>
		    <i id="heart-3" class="icon-star"></i>
		    <i id="heart-4" class="icon-star-half-empty"></i>
		    <i id="heart-5" class="icon-star-empty"></i>
		</div>
	    </div>
	    <div id="title-addr">Chiu Chow restaurant in Sai Wan</div>
	    <div id="costs-container"><i class="icon-money info-icons"></i> <span id="costs">$100-200</span></div><div id="distance-container"><i class="icon-location-arrow info-icons"></i> <span id="distance"> 15min walk</span></div>
	</div><!-- showed only when the small toggle button clicked -->
	<div id="map"></div><!-- showed only when the small toggle button clicked -->
    </div>

    <div id="extra-container">
        <div id="details-buttons">
	    <div id="details">
		<ul>
		    <li id="details-addr-li"><i class="icon-map-marker details-logo"></i><span id="details-addr">G/F, No 3 Belcher's Street</span><span
		    id="details-town">Kennedy Town, Western District</span></li>
		    <li id="details-phonenumber-li">
			<i class="icon-phone details-logo"></i><span id="details-phonenumber">2819 5568</span>
		    </li>
		    <li id="details-hours-li">
			<i class="icon-globe details-logo"></i><span id="details-hours">open until 15:00</span>
		    </li>
		</ul>
	    </div>
	    <div id="buttons">
		<div id="buttons-1" class="disabled"><i class="icon-chevron-up"></i></div>
		<div id="buttons-2" ><i class="icon-share-alt"></i></div>
		<div id="buttons-3" ><i class="icon-foursquare"></i></div>
		<div id="buttons-last" class="disabled">...</div>
	    </div>
	</div>
	<div id="extra-toggle">
	    <div id="extra-toggle-button">
	        <i class="icon-chevron-up"></i>
	    </div>
	</div>
	<div id="confirmed-footnote">you liked this place | last time here about 1 month ago <i class="icon-magic"></i></div><!-- showed only in confirmed mode -->
	<div id="footnote">you liked this place | last meal here: about 1 months ago</div><!-- showed only in non-confirmed mode -->
    </div>
    <div id="options">
	<div id="options-captions">
	    <i>Lunch here today?</i><!-- <br/>
	    or <input id="typehere" value="type here" valuesource="type here" ></input><br/>
	       <u id="askfriends">ask friends</u>
	       -->
	</div>
	<div id="options-yes-container">
	    <div id="options-yes"><i class="icon-ok"></i></div>
	</div>
	<div id="options-no-container">
	    <div id="options-no"><i class="icon-remove"></i></div>
	</div>
    </div><!-- showed only in non-confirmed mode -->
    <div id="extra-options">
	<input id="typehere" value="type here" valuesource="type here" ></input>
    </div>
</div>
<div id="main-icon-after"></div><!-- what icon to show ? -->

    <div id="review">
        <div id="review-info">
	    <i>Today's lunch</i><br/>
	    <span class="review-info-date">17 Jul 2013</span>
	</div>
	<div id="review-edit">
	    <div id="review-rename"><i class="icon-edit"></i> rename</div>
	    <div id="review-delete"><i class="icon-trash"></i> delete</div>
	</div>
	<div id="review-fav">
	    <i class="icon-thumbs-up"></i>
	    <i class="icon-thumbs-down"></i>
	</div>
	&nbsp;
    </div><!-- showed only in confirmed mode -->
</div>

<div id="footer-container">
    <div id="timeline-border">
	<div id="timeline">
	    <div id="timeline-ul">
		<div id="timeline-div0">
		    <div class="timeline-div current"><i class="icon-flag"></i></div>
		    <div class="timeline-div after"><i class="icon-circle"></i></div>
		    <div class="timeline-div plus"><i class="icon-plus"></i></div>
		</div>
		<div class="timeline-div before"><i class="icon-circle"></i></div>
		<div class="timeline-div before"><i class="icon-circle"></i></div>
		<div class="timeline-div before"><i class="icon-circle"></i></div>
		<div class="timeline-div before"><i class="icon-circle"></i></div>
	    </div>
	</div>
	<div id="timeline-border0">
	    <div id="timeline-border-left"></div>
	    <div id="timeline-border-right"></div>
	</div>
    </div><!-- showed only in confirmed mode -->

    <div id="about">
        <div id="about-timeline">
	    Thursday Wireless's Timeline<br/>
	    11 meals since Jun 2013
	</div>
	<div id="about-sharing">
	    share link <i class="icon-link"></i><br/>
	    change settings <i class="icon-gear"></i>
	</div>
	<div id="about-lunchere-container">
	    <div id="about-lunchere">
		Lunchere<br/>
		about | FAQ | contact
	    </div>
	</div>
    </div>

    <div id="power">
        powered by Google Maps &amp; Foursquare
    </div>
</div>

<div id="grid-overlay">
</div>
</body>
</html>
